::ng-deep {
  .mat-dialog-container {
    background-color: #353353;
  }
}
.success-decription {
  color: #fff;
}

.close-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  @media only screen and (max-width: 768px) {
    position: relative;
    width: 100%;
  }
}


