<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="../../../../../assets/images/indicators/success.png" alt="success-icon">
    </div>
    <div class="col-md-6">
      <h3>{{ 'main.sections.contact.request_sent_success' | translate }}</h3>
      <p class="success-decription">
        {{ 'main.sections.contact.request_sent_message' | translate }}
      </p>
      <button (click)="onClose()" class="btn btn-default close-btn">{{ 'buttons.close' | translate }}</button>
    </div>
  </div>
</div>
