<div class="my-modal-header">
  <div class="my-modal-title">
    <h2>{{'main.sections.about.available_resumes' | translate}}</h2>
  </div>
  <div class="my-modal-btns">
    <button (click)="onClose()" class="close-btn">
      <img src="assets/main-images/actions/close.png" alt="close-icon">
    </button>
  </div>
</div>
<div class="container">
  <div class="spacer-30 d-md-none d-lg-none"></div>

  <div class="row my-row" *ngFor="let resume of resumes">
    <div class="col-md-6">
      <div class="resume-language">
      <span>
        <img class="language-icon" [src]="resume.language.picture_url" alt="language_picture">
      </span>
        {{resume.language.name}}
      </div>
    </div>
    <div class="col-md-6">
      <a class="btn btn-default download-button" [href]="resume.public_url" target="_blank">{{'main.sections.about.download_cv' | translate}}</a>
    </div>
  </div>
</div>
